*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Bimbo';
    src: url('fuentes/bimbo/Bimbo Trial.ttf') format('truetype');
}

body{
    background-color: #ffbdd7;
    line-height: 2.0;
}

header{
    margin-top: 40px;
}

.menu-container {
    border-radius: 50px;
    background-color: rgba(77, 9, 34, 0.7);
    padding: 15px;
    width: 35%;
    margin: 40px auto 0; /* Empuja el menú hacia abajo */
}

.main-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 20px;
}

.main-menu li {
    margin: 0 25px;
}

.main-menu a {
    color: #fcf6ef;
    text-decoration: none;
}

.titulo-bienvenida {
    font-family: 'Bimbo', cursive;
    margin: 50px 30px; 
    font-size: 65px;    
    animation: floatIn 1.2s ease-out;
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }}

    .img-yo-animada {
        display: block;
        margin: 20px 0 20px 20px;
        width: 200px;
        height: auto;
        animation: floatIn 1.2s ease-out;
        
    }

.Sobre-mi {
    font-family: 'Bimbo', cursive;
    text-align: left;
    margin: 40px 20px;
    font-size: 55px;    
}