*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ffc1da, #ff87a7);
    min-height: 100vh;
    line-height: 2.0;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: 40px;
}


/*---------MENU---------*/
.menu-container {
    border-radius: 50px;
    background-color: #613142;
    width: 90%;
    max-width: 800px;
    padding: 12px;
    margin:0 auto;
}

.main-menu ul {
    display: flex;
    justify-content: center;
    
    list-style: none;
    font-size: 16px;
    gap: 70px;
}

.main-menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 6px 12px; 
    border-radius: 20px;
    transition: all 0.3s ease;
}

/* Cuando el mouse pasa por encima de una seccion del menu */
.main-menu a:hover {
  background-color: #ffe4ef;
  color: #613142;
  font-weight: 500;
}

/* Sección del menu en la página actual */
.main-menu a.active {
  background-color: #ffe4ef;
  color: #613142;
  font-weight: 500;
}


/* --- FUENTE PERSONALIZADA --- */
@font-face {
    font-family: "Anothershabby";
    src: url("fuentes/Anothershabby_trial.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/*------------INICIO-------------*/
.Contenedor-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    gap: 30px;
}

.Bloque-izquierdo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 185px;
    transform: scale(1.2);   /* 1.2 = 120% del tamaño original */
    transform-origin: top left; /* define desde dónde se expande */
}

.Titulos{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.Welcome{
    font-size: 26px;
    font-family: Sour Gummy, cursive;
    color: #613142;
    margin-bottom: -60px;
    margin-left: 140px;
}

.Titulo{
    font-size: 85px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: 20px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
}

.Texto-presentacion{
    display: flex;
    flex-direction: column;
    color: #381622;
    font-size: 16px;
    margin-top: -30px;
}

.Botones {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 22px;
}

.btn-principal, .btn-secundario {
    font-size: 16px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
}

/* Cuando el mouse pasa por encima de los botones */
.btn-principal:hover, .btn-secundario:hover {
  transform: scale(1.03); /* crece un poquito */
  box-shadow: 0 6px 12px #9b3b5bb4; /* sombra más marcada */
}

.btn-secundario {
    background-color: #fed3e3;
    color: #4d0922;
    border: 2px solid #653a49;
    padding: 4px 20px;
}

.btn-principal {
    background-color: #613142;
    color: #ffffff;
    border: 2px solid #653a49;
    padding: 4px 20px;
}

.Bloque-derecho {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    transform: scale(1.2);   
    transform-origin: top left; 
}

.Bloque-izquierdo,.Bloque-derecho{
    overflow: visible;
}


/*Efecto-imagen*/
@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.img-yo-animada{
    width: 260px;
    height: auto;
    margin-right: 110px;
    animation: floatIn 1.2s ease-out;
}


/*----------SOBRE MI-----------*/
main{
    display: flex;
    flex-direction: column;
    gap: 50px; /* Espacio entre la presentación y tus skills */
}

.Contenedor-sobremi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    gap: 30px;
}

.Bloque{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-left: 370px;
    margin-top: 10px;
}

/*------------TITULOS PRINCIPALES------------*/
.Titulos-sobremi{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    margin-top: 20px;
    margin-left: 70px;
}

.curva-titulo {
    width: 280px;
    height: auto;
    margin-bottom: -53px;
    margin-left: -60px;
}

.curva-titulo text {
    font-family: 'Sour Gummy', cursive;
    font-size: 55px;
    font-weight: 550;
    fill: #653a49; 
}


.Sobre-mi{
    font-size: 110px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: 20px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
}

/*------------IMAGEN DE PRESENTACION------------*/

.Img-flecha{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 390px;
    margin-top: -165px;
    position: relative;
    transform: scale(1.05);
    transform-origin: center right;
}

.img-yo{
    width: 600px;
    height: auto;
    display: block;
}


/*------------TEXTO SOBRE LA HOJA------------*/
.Texto-hoja{
    position: absolute;
    top: 44%;  
    left: 15%; 
    width: 385px;
    transform: rotate(-7deg);
    z-index: 10;
}

.Texto-hoja p{
    font-size: 15px;
    color: #4d1227;
    line-height: 2;
    font-weight: 500;
}

/*------------ADORNOS------------*/
.adorno1-sobremi{
    position: absolute;
    top: -110px;
    left: -600px;
    width: 550px;
    z-index: 2;
    pointer-events: none;
}

.adorno2-sobremi{
    position: absolute;
    bottom: -150px;
    right: -523px;
    width: 550px;
    z-index: 15;
    pointer-events: none;
}

/*------------SECCION DE FORMACION------------*/
.Seccion-formacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    margin-top: -100px;
    gap:40px;
}

/*------------TITULOS SECUNDARIOS------------*/
.Titulos-formacion{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-left: -260px;
    margin-top: 10px;
}

.curva-titulo-skills {
    width: 320px;
    height: auto;
    position: relative;
    z-index: 5;
    margin-bottom: -36px;
    margin-left: -370px;
}

.curva-titulo-skills text {
    font-family: 'Sour Gummy', cursive;
    font-size: 55px;
    font-weight: 550;
    fill: #653a49;
}

.Titulo-principal-formacion{
    font-size: 80px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: -170px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
    position: relative;
    z-index: 5;
}

/*------------ADORNOS FORMACION------------*/
.adorno3-sobremi{
    position: absolute;
    top: -19px;
    right: -128px;
    width: 250px;
    z-index: 1;
    pointer-events: none;
}


/*------------CONTENEDOR PARA LOS BLOQUES------------*/
.Contenedor-formacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px; 
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: -20px;
    gap: 35px;
}


/*--------------BLOQUES DE INFORMACION-----------------*/
.Bloque-habilidades,.Bloque-educacion, .Bloque-idiomas{
    background-image: url("imagenes/textura1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    opacity: 0.87;
}


/*--------------TITULOS CURVOS-----------------*/
.titulo-curvo-educacion,
.titulo-curvo-idiomas,
.titulo-curvo-habilidades{
    width:100%;
    height: 110px;
    font-family: 'Fredoka', cursive;
}


/*--------------EDUCACION-----------------*/
.Bloque-educacion{
    flex: 0 0 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #613142;
    min-height: 500px;
    border-radius: 90px;
    padding: 40px;
}

.img-educacion{
    width: 130px;
    height: auto;
}

.titulo-curvo-educacion{
    margin-top: -10px;
    margin-left: 20px;
}

.titulo-curvo-educacion text{
    font-size: 65px;
    font-weight: 800;
    letter-spacing: 3px;
    fill: #ffe4ef; 
    text-shadow: 4px 4px 5px #5a0925;
}

.IDM{
    background-color: #ff9cb7;
    color: #4d0922;
    border-radius: 40px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 5px;

}

.UNACAR{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 27px;
    font-style: italic;
    margin-bottom: 50px;
}

.Prepa{
    background-color: #ff9cb7;
    color: #4d0922;
    border-radius: 40px;
    padding: 3px 12px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.Campus{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 27px;
    font-style: italic;
    margin-bottom: 30px;
}


/*--------------IDIOMAS-----------------*/
.Bloque-idiomas{
    flex: 0 0 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #613142;
    min-height: 500px;
    border-radius: 90px;
    padding: 40px;
}

.img-avioncito{
    width: 98px;
    height: auto;
    margin-left: 127px;
    margin-top: -28px;
    margin-bottom: -32px;
    rotate: 0.5deg;
}

.titulo-curvo-idiomas{
    margin-top: -22px;
}

.titulo-curvo-idiomas text{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
    fill: #ffe4ef; 
    text-shadow: 4px 4px 5px #5a0925;
}

.Español{
    background-color: #ff9cb7;
    color: #4d0922;
    border-radius: 40px;
    padding: 0.9px 40px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 2px;
}

.Lengua-materna{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-bottom: 115px;
}

.img-idiomas{
    display: flex;
    justify-content: center;
    width: 145px;
    height: auto;
    margin-top: -118px;
}

.Inglés{
    background-color: #ff9cb7;
    color: #4d0922;
    border-radius: 40px;
    padding: 0.5px 35px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.Certificación{
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-top: 5px;
}

.Cambridge{
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-top: -10px;
}


/*--------------HABILIDADES-----------------*/
.Bloque-habilidades{
    flex-basis: 80%;
    background-color: #613142;
    border-radius: 100px;
    min-height: 600px;
    margin-top: -10px;
    padding: 40px;
}

.titulo-curvo-habilidades{
    margin-top: -2px;
    margin-left: -145px;
}

.titulo-curvo-habilidades text{
    font-size: 66px;
    font-weight: 800;
    letter-spacing: 3.5px;
    fill: #ffe4ef; 
    text-shadow: 4px 4px 5px #5a0925;
}

.Fila-habilidades, .Fila-software{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

.habilidad-item, .tipo-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    transform: scale(1.05);
    transform-origin: center right;
}

.software-item, .canva-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-top: -15px;
    color: #ffaccc;
    transform: scale(1.05);
    transform-origin: center right;
}

.habilidad-item img{
    width: 128px;
    height: auto;
    margin-bottom: 5px;
}

.tipo-item img{
    width: 150px;
    height: auto;
    margin-bottom: 1px;
}

.software-item img{
    width: 78px;
    height: auto;
    margin-bottom: 5px;
}

.canva-item img{
    width: 95px;
    height: auto;
    margin-bottom: 5px;
}


.Etiqueta-software{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.software-skills{
    font-size: 20px;
    background-color: #ff9cb7;
    color: #4d0922;
    border-radius: 40px;
    padding: 2px 20px;
    font-size: 18px;
    font-weight: 500;
}


/*--------------PORTAFOLIO-----------------*/
.Main-portafolio{
    position: relative;
    overflow-x: hidden;
}

.adorno-fondo1, .adorno-fondo2{
    position: absolute;
    z-index: 0;
    pointer-events: none;
}

.adorno-fondo1{
    top: 37%;
    left: -11%;
    width: 560px;
}

.adorno-fondo2{
    top: 68%;
    right: -14%;
    width: 555px;
}

/*------------TITULOS PRINCIPALES ------------*/
.Contenedor-titulos-portafolio{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    margin-left: 300px;
}

.curva-titulo-portafolio {
    width: 280px;
    height: auto;
    margin-bottom: -48px;
    margin-left: -22px;
}

.curva-titulo-portafolio text {
    font-family: 'Sour Gummy', cursive;
    font-size: 53px;
    font-weight: 550;
    letter-spacing: 1.5px;
    fill: #653a49; 
}

.Titulo-principal-portafolio{
    font-size: 90px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: 20px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
    position: relative;
    z-index: 5;
}


/*--------------ADORNO PORTAFOLIO-----------------*/
.adorno1-portafolio{
    position: absolute;
    top: 75px;
    left: 632px;
    width: 225px;
    transform: rotate(10deg);
    z-index: 1;
    pointer-events: none;
}


/*--------------CURVA TENDEDERO 1----------------*/
.Contenedor-tendedero1{
    width:100%;
    height: 350px;
    margin-top: -87px;
    margin-bottom: 30px;
    position: relative;
    z-index: 20;
}

.curva-tendedero path{
    stroke-width: 7;
    stroke-linecap: round;
}

.Contenedor-polaroid1, .Contenedor-polaroid2, .Contenedor-polaroid3{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.Contenedor-polaroid1{
    top: 64px;
    left: 20%;
    transform: rotate(4deg);
}

.polaroid1-portafolio {
    width: 490px;
    height: auto;
}

.Contenedor-polaroid2{
    top: 20px;
    left: 48%;
    transform: rotate(-8deg);
}

/*--------------CURVA TENDEDERO 2----------------*/
.Contenedor-tendedero2{
    width:100%;
    height: 550px;
    margin-top: -5px;
    margin-bottom: 100px;
    position: relative;
    z-index: 10;
}

.Contenedor-polaroid3{
    top: 35px;
    left: 35%;
    transform: rotate(-1deg); 
}

.polaroid2-portafolio{
    width: 550px;
    height: auto;
}

.polaroid3-portafolio{
    width: 560px;
    height: auto;
}

.Contenedor-polaroid1:hover{
    transform: rotate(4deg) scale(1.13);
}

.Contenedor-polaroid2:hover{
    transform: rotate(-8deg) scale(1.13);
}

.Contenedor-polaroid3:hover{
    transform: rotate(-1deg) scale(1.13);
}

/*--------------TITULOS POLAROID-----------------*/

.Titulo-polaroid1,.Titulo-polaroid2, .Titulo-polaroid3{
    position:absolute;
    z-index: 30;
    display: inline-block;
    font-size: 24px;
    font-family: 'Anothershabby', cursive;
    color: #4d0922;
    text-shadow: 1px 1px 0px #fcc0d6;
    text-decoration: none;
    text-align: center;
    width: 100%; 
    max-width: 450px;
}

.Titulo-polaroid1{
    margin-top: 368px;
    margin-right: 4px;
}

.Titulo-polaroid2{
    margin-top: 391px;
    margin-left: 2px;
}

.Titulo-polaroid3{
    margin-top: 395px;
}


/*--------------DISEÑO E ILUSTRACIÓN---------------*/

/*------------DISEÑOS------------*/
.Contenedor-titulo-diseño{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.Contenedor-titulo-diseño h1{
    font-size: 70px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: -400px;
    margin-bottom: -30px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
}   

.Contenedor-imagenes-diseño{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.Contenedor-texto h2{
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-family: 'Sour Gummy', cursive;
    font-weight: 600;
    color: #833651;
    margin-bottom: 18px;
}

.Caja-cartel img{
    width: 330px;
    height: auto;
    border-radius: 30px;
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-cartel:hover img{
    transform: scale(1.1);
    box-shadow: #d34b7be6 1px 1px 25px;
}

/*------------REDES SOCIALES------------*/
.Contenedor-titulo-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.Contenedor-titulo-redes h1{
    font-size: 70px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: -400px;
    margin-bottom: -30px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
}

.Contenedor-imagenes-redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.Caja-redes-lumina{
    margin-bottom: 100px
}

.Caja-redes-lumina img{
    width: 350px;
    height: auto;
    border-radius: 30px;
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-lumina:hover img{
    transform: scale(1.1);
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-lumina video{
    width: 270px;
    height: auto;
    border-radius: 30px;
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-lumina:hover video{
    transform: scale(1.1);
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-xmedia{
    margin-top: -90px;
}
.Caja-redes-lumina p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #762241;
}

.Caja-redes-xmedia img{
    width: 400px;
    height: auto;
    border-radius: 30px;
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-xmedia img:hover{
    transform: scale(1.1);
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-xmedia video{
    width: 270px;
    height: auto;
    border-radius: 30px;
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-xmedia:hover video{
    transform: scale(1.1);
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-redes-xmedia p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #762241;
}

/*----------------ILUSTRACIONES-------------------*/
.Contenedor-titulo-ilustracion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Contenedor-titulo-ilustracion h1{
    font-size: 70px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: -900px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
}

.Contenedor-imagenes-ilustracion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
    margin-top: 30px; 
}

.Caja-ilustracion img{
    width: 350px;
    height: auto;
    border-radius: 30px;
    box-shadow: #d34b7be6 1px 1px 15px;
}

.Caja-ilustracion:hover img{
    transform: scale(1.1);
    box-shadow: #d34b7be6 1px 1px 15px;
}


/*-------------DISEÑO WEB-----------*/
.Contenedor-titulo-diseño-web{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.Contenedor-titulo-diseño-web h1{
    font-size: 70px;
    font-family: Anothershabby, cursive;
    font-weight: 300;
    margin-left: -660px;
    color: #4d0922;
    text-shadow: 4px 4px 0px #ffffff;
}

.Caja-mira{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 120px;
    position: relative;
    
}

.nota-colores{
    position: absolute;
    z-index: 1;
    top: -310px; 
    left: 57%;
    transform: rotate(4deg);
}

.nota-colores img {
    width: 550px;
    height: auto;
}

.Caja-mira video{
    width: 560px;
    height: auto;
    border: 5px solid rgb(100, 40, 69);
    border-radius: 50px;
    box-shadow: 6px 6px 4px #613142bb;
    position: relative; 
    z-index: 2;
}

.exclamacion{
    position: absolute;
    z-index: 10;
    margin-right: 500px;
    margin-top: -280px
}

.exclamacion img{
    width: 200px;
    height: auto;
    transform: rotate(-20deg);
}

.etiqueta-venta{
    position: absolute;
    z-index: 10;
    margin-bottom: -255px;
    margin-right: -400px;
}

.etiqueta-venta img{
    width: 290px;
    height: auto;
}

.descripcion-mira{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 700px;
    margin-top: -130px;
    margin-bottom: 90px;
    background-color: #c27993;
    color:#67223b;
    border-radius: 40px;
    font-weight: 500;
    padding: 10px 30px;
}

/*-------------FOOTER---------------*/
.Footer{
    margin-top: auto;
    text-align: center;
    background-color: #7d4055d3;
    color: #ffffffe6;
    font-weight: 500;
    padding: 40px;
}

.Footer nav{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.Footer a{
    text-decoration: none;
    color:#ffc2d8;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.Footer a:hover{
    background-color: #551e31;
    color: #fecddf;
}


/*-----------ADAPTACIÓN--------------*/
@media screen and (max-width: 1300px) {

    .Bloque-izquierdo, .Bloque-derecho {
        transform: scale(1.0);
        transform-origin: center center;
    }

    .Titulo{
        font-size: 73px;
    }

    .Welcome{
        margin-bottom: -50px;
        margin-left: 110px;
    }
}

@media screen and (max-width: 768px) {

    .Bloque-izquierdo, .Bloque-derecho {
        transform: scale(0.9);
        transform-origin: center center;
    }

    .Titulo{
        font-size: 60px;
    }

    .Welcome{
        margin-bottom: -30px;
        margin-left: 93px;
    }

    .Footer {
        margin-top: auto;
        width: 100%;
    }
    
}

body,html{
    width: 100% !important; 
    overflow-x: hidden !important;
    position: relative;
    margin: 0;
    padding: 0;
}