*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffbdd7;
    line-height: 2.0;
    font-family: 'Poppins', sans-serif;
}

header{
    margin-top: 40px;
}

.menu-container {
    border-radius: 50px;
    background-color: rgba(77, 9, 34, 0.7);
    padding: 15px;
    width: 30%;
    margin: 40px auto 0; 
}

.main-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 13px;
}

.main-menu li {
    margin: 0 25px;
}

.main-menu a {
    color: #ffffff;
    text-decoration: none;
}

.contenedor-inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.welcome{
    font-size: 18px;
    margin-bottom: -10px;
    color: #4d0922;
    font-weight: 500;
}

.texto-presentacion {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Botones-contenedor-inicio{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
}

.boton-primario, .boton-secundario {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
}

.boton-primario {
    background-color: #4d0922;
    color: #ffffff;
    border: 2px solid #4d0922;
}

.boton-secundario {
    background-color: #fed3e3;
    color: #4d0922;
    border: 2px solid #653a49;
}

@keyframes floatIn {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.img-yo-animada {
        margin: 20px;
        width: 600px;
        height: 550px;
        filter: drop-shadow(0px 0px 15px rgba(255, 182, 193, 0.8));
        animation: floatIn 1.2s ease-out;
    }